body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(1, 1, 58);
}

.titulo{
    margin-top: 6rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 6rem;

    color: antiquewhite;
    
}
